
#--------------------------------------------------------------#
##          All Ignore                                        ##
#--------------------------------------------------------------#
/*
/.**


#--------------------------------------------------------------#
##          Not Ignore                                        ##
#--------------------------------------------------------------#
!/README.md
!/LICENSE
!/.gitignore
!/.gitkeep
!/install.sh

!/.zshenv
!/.config/
!/.config/zsh/
!/.config/zsh/.zshrc
!/.config/zsh/rc/
!/.config/zsh/rc/*

!/.config/sheldon/
!/.config/sheldon/plugins.toml
